<h3>Question1</h3>

In [ ]:
SELECT customer.cust_name AS "Customer",
customer.grade AS "Grade",orders.ord_no AS "Order No."
FROM orders, salesman, customer
WHERE orders.customer_id = customer.customer_id
AND orders.salesman_id = salesman.salesman_id
AND salesman.city IS NOT NULL
AND customer.grade IS NOT NULL;

<h3>Question2</h3>

In [ ]:
SELECT ord_no, purch_amt, ord_date, salesman_id 
FROM orders 
WHERE salesman_id IN(
SELECT salesman_id 
FROM salesman
WHERE commission = (
SELECT MAX(commission) 
FROM salesman));

<h3>Question3</h3>

In [ ]:
SELECT ord_no, purch_amt, ord_date, salesman_id
FROM orders
WHERE salesman_id IN
    (SELECT salesman_id 
     FROM salesman 
     WHERE city='nagpur');

<h3>Question5</h3>

In [ ]:
SELECT ord_no, purch_amt, ord_date, salesman_id
FROM orders
WHERE purch_amt >(SELECT  AVG(purch_amt) FROM orders );

<h3>Question4</h3>

In [ ]:
SELECT ord_date, SUM(purch_amt), 
SUM(purch_amt)*.15 
FROM orders 
GROUP BY ord_date 
ORDER BY ord_date ASC;

<h3>Question6</h3>

In [ ]:
select * from orders ORDER BY purch_amt desc limit 4,1;

<h3>Question7</h3>

In [ ]:
entity – entity can be real-world object. it is a collection of related attributes or properties.example: employee, department, etc. Strong Entity –An entity that has a primary key is called as Strong entity. Rectangle represents strong entity.  Weak Entity –Weak entity doesn’t have sufficient attributes to form a primary key of its own.  Double rectangle represents weak entity.The entity-relationship (ER) model is used to design relational databases by removing all existing redundancy in the data. The basic object of the ER model is an entity—that is, a real-world object. Each entity has several attributes, which are properties of the entity and therefore describe it

<h3>Question8</h3>

In [ ]:
Select Customer_id , ba.Account_Number,
Case when ifnull(Balance_amount,0) = 0 then   Transaction_amount else Balance_amount end  as Balance_amount
from bank_account_details ba  
inner join
bank_account_transaction bat
on ba.Account_Number = bat.Account_Number
and Account_type = "Credit Card";

<h3>Question9</h3>

In [ ]:
Select
ba.Customer_id, ba.Account_Number, Balance_amount, Transaction_amount, Transaction_Date
from bank_account_details ba  
inner join
bank_account_transaction bat
on ba.Account_Number = bat.Account_Number
And ( Transaction_Date between "2020-03-01" and "2020-04-30");

<h3>Question10</h3>

In [ ]:
Select ba.Customer_id, ba.Account_Number, Balance_amount, Transaction_amount, Transaction_Date
from bank_account_details ba   
Left join bank_account_transaction bat
on ba.Account_Number = bat.Account_Number
And NOT (Transaction_Date between "2020-03-01" and "2020-03-31")